<header class="site-header" role="banner">
  <div class="wrapper row">
    <div class="col-xs-12 col-med-3">
      {%- assign default_paths = site.pages | map: "path" -%}
      {%- assign page_paths = site.header_pages | default: default_paths -%}
      <img class="headshot" src="{{ site.headshot }}" />
    </div>

    <div class="col-xs-12 col-med-9">
      <h1 class="site-title">{{ site.title | escape }}</h1>
      <h3>Virginia Tech, Dept. of Computer Science</h3>
      <p>
        <i class="fas fa-university"></i>
        Torgersen 2000 |
        <i class="fas fa-envelope-square"></i>
        <a href="mailto:{{ site.email }}">{{ site.email }}</a>
      </p>

      <ul class="nav" style="margin-bottom: 10px;">
        <li class="nav-item">
          <a class="nav-link" href="{{ site.base_url }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about-me">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#education">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#publications">Publications</a>
        </li>
      </ul>
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="#teaching">Teaching</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#activities">Activities</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="cv.pdf">CV</a>
        </li>
      </ul>
    </div>
  </div>
</header>
